<form class="m-5 min-height container-form" method="POST" action="/courses/handle-trash-form-action">
    <h3>Khóa học đã xóa</h3>
    <div class="container-fluid">
      <div class="row">      
          <div class="col-sm-10 row">
              <div class="form-check col-sm-3">
                <input type="checkbox" class="form-check-input" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">Chọn Tất cả</label>
              </div>
              <select class="form-control col-sm-3 mr-3" required name="action">
                <option value="">--- Hàng động ---</option>
                <option value="restore">Khôi phục</option>
                <option value="delete">Xóa vĩnh viễn</option>
              </select>
              <button type="submit" class="btn btn-primary col-sm-2 checked-all-submit-bnt" disabled>Thực hiện</button>
          </div>

          <a class="mb-3" href="/me/stored/courses/"> 
            <i class="fas fa-clipboard-list"></i>   
            Danh sách khóa học
          </a>
          
      </div>
    </div>



    <table class="table mt-4">
        <thead>
            <tr>
                <td scope="col">#</td>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời xóa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
              <th>
                   <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                  </div> 
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="#" class="btn btn-info style-btn btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="#" class="btn btn-danger style-btn" data-id="{{this._id}}" data-toggle="modal"  data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Thùng rác trống.
                <a href="/me/stored/courses">Danh sách khóa học</a>
              </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Comfirm delete course--}}

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hành động này không thể khôi phục. Bạn có chắc chắn muốn xóa khóa học này? 
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
  //nạp hết DOM 
  document.addEventListener('DOMContentLoaded', function() {
    var courseId, formCourse
    var deleteCourse = document.getElementById('btn-delete-course')
    var deleteForm = document.forms['delete-course-form']
    var restoreForm = document.forms['restore-course-form']
    var restoreBtn = $('.btn-restore')
    var checkedAllSubmitBtn = $('.checked-all-submit-bnt')
    var checkboxAll = $('#checkbox-all')
    var courseItemCheckbox = $('input[name="courseIds[]"]')


      $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        courseId = button.data('id') 
        
      })   

    
    deleteCourse.onclick = function(){
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
      deleteForm.submit()
    }



    restoreBtn.click ( function(e){
      e.preventDefault();
        var courseId = $(this).data('id');
    
        restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
        restoreForm.submit()   
    })

    checkboxAll.change(function(e){
      isChecked = $(this).prop('checked')
      courseItemCheckbox.prop("checked", isChecked);
      renderCheckedAllBtn()
      })
    courseItemCheckbox.change(function(e){
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      checkboxAll.prop("checked", isCheckedAll)
      renderCheckedAllBtn()
    })

    function renderCheckedAllBtn(){
      checkedCount = $('input[name="courseIds[]"]:checked').length
      if(checkedCount > 0){
        checkedAllSubmitBtn.attr('disabled', false)
      }else{
        checkedAllSubmitBtn.attr('disabled', true)
      }

    }



    

  })

  
</script>